.attendance-container {
  padding: 24px;
  max-width: 400px; /* same as employee form */
  margin: 0 auto;
  box-sizing: border-box;
}

.attendance-form {
  background: #ffffff;
  padding: 24px;
  border-radius: 18px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);

  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  box-sizing: border-box;
}

.attendance-title {
  font-size: 20px;
  font-weight: 600;
  color: #111827;
}

.attendance-message {
  color: #16a34a;
  font-size: 14px;
}

/* INPUTS */
.attendance-input {
  width: 100%;
  height: 44px;
  padding: 0 14px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;

  background: #f3f4f6;
  font-size: 14px;
  box-sizing: border-box;
}

.attendance-input::placeholder {
  color: #9ca3af;
}

.attendance-input:focus {
  outline: none;
  background: #ffffff;
  border-color: #6366f1;
}

/* BUTTON */
.attendance-btn {
  width: 100%;
  margin-top: 6px;
  height: 46px;

  background: #4f46e5;
  color: white;
  border-radius: 14px;
  border: none;

  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  box-sizing: border-box;
}

.attendance-btn:hover {
  background: #4338ca;
}
